<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js" defer></script>
    <style>
      .background{
        background-color: lightcyan;
        transition: background-color 1s ease;
      }
    </style>
  </head>
  <body>
    <div id=app-8>
    <div v-bind:class="{ background: showInfo } "></div>
    <div id="app"></div>
    <h1>Hello from HTML!</h1>
      
        {{ message }}
        <button v-on:click="showInfo = !showInfo">Click me!</button>
      
      
    </div>
    
    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
    </div>
    
    <div id="app-3">
      <span v-if="seen">Now you see me</span>
    </div>

    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>

    <div id="app-5">
      <p>{{ message }}</p>
      
      
      <input type="text" v-model="message" placeholder="enter word here">
      <button v-on:click="reverseMessage">Click to see if entry is a Palindrome</button>
      
      <p>{{ nextMessage }}</p>
    </div>

    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>

    <div id="app-7">
      <ol>
        <!--
          Now we provide each todo-item with the todo object
          it's representing, so that its content can be dynamic.
          We also need to provide each component with a "key",
          which will be explained later.
        -->
        <todo-item
          v-for="item in groceryList"
          v-bind:prop="item"
          v-bind:key="item.id"
        ></prop-item>
      </ol>
    </div>
  </div>
  </div>
  </body>
</html>